:root{
    --first-color: #222f3e;
    --second-color: whitesmoke;
}
/* Configurações gerais */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: var(--second-color);
}
.center{
    margin: auto;
    max-width: 1100px;
    padding: 0px 2%;
}
.title{
    display: block;
    width: 140px;
    margin: 0px auto 40px auto;
    padding: 3px;
    border-bottom: 5px solid var(--first-color);
    text-align: center;
    font-size: 2.2rem;
}
/* Navegation bar */
#nav_container{
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    position: sticky;
    top: 0%;
    z-index: 1000;
}
nav{
    padding: 0px 20px;
    margin: auto;
    display: flex;
    height: 60px;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
nav h1{
    font-size: 2.4rem;
    color: var(--second-color);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a{
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--second-color);
    padding: 15px 10px;
}
nav a:hover{
    transition: .4s;
    background-color: rgba(255, 255, 255, 0.1);
}
/* Header */

header{
    text-align: center;
    color: var(--second-color);
    min-height: 500px;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    font-size: 3.2rem;
}
#btns{
    margin-top: 30px;
    display: flex;
    gap: 30px;   
}
.btn a{
    font-size: 1.8rem;
    position: relative;
    color: var(--first-color);
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--second-color);
    width: 150px;
    padding: 10px 15px;
    font-weight: 700;
    border: 2px solid var(--first-color);
    z-index: 50;
}
.btn a:hover{
    display: flex;
    color: var(--second-color);
    border-color: var(--second-color);
}
.btn p{
    z-index: 100;
}
.btn a::after{
    content: '';
    position: absolute;
    width: 0%;
    background-color: var(--first-color);
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s;
}
.btn a:hover::after{
    width: 100%;
}
/* Sobre */

#sobre{
    width: 95%;
    padding: 20px 0px;
    min-height: 500px;
}
#sobre h1{
    border-bottom: 5px solid var(--first-color);
}
#container_sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sobre img{
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .45);
}
#text{
    margin-top: 20px;
    padding: 0px 5%;
    text-align: justify;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 1.8rem;
}
/* Portifólio */

#portifolio{
    padding: 20px 0px;
    min-height: 500px;
    background-color: var(--first-color);
}
#portifolio h1{
    color: var(--second-color);
    border-bottom: 5px solid var(--second-color);
}
.container_portifolio{
    align-items: center;    
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.square{
    position: relative;
    display: grid;
}
.square img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, .45);
    grid-column: 1;
    grid-row: 1/3;
}
.square #legenda{
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    color: var(--second-color);
    background-color: rgba(0, 0, 0, .7);
    grid-column: 1;
    grid-row: 2/3;
    font-size: 2.0rem;
}
.square a{
    width: 60%;
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    background-color: var(--first-color);
    padding: 10px 20px;
    border: 3px solid var(--first-color);
}
.square a:hover{
    transition: .4s;
    color: var(--first-color);
    background-color: whitesmoke;
    border-color: var(--first-color);
}
/* Footer */

footer{
    color: var(--second-color);
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 120px;
    font-size: 1.6rem;
}
footer ul{
   display: flex;
   gap: 20px;
   list-style: none;
}
footer i{
    font-size: 2.0rem;
    color:black;
}
footer a{
    border-radius: 50%;
    padding: 5px;
    border: 2px solid black
}
footer a:hover{
    background-color: var(--first-color);
    transition: .4s;
}
#ghost{
    max-width: 500px;
    animation: show .4s linear forwards;
    display: none;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 20px;
    width: 80%;
    background-color: #161e27;
    text-align: center;
    border: 2px solid rgb(27, 27, 27);
    transition: all 1s;
}
#ghost #button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    right: 20px;
    top: 15px;
    border-radius: 50%;
}
#ghost_header{
    padding: 20px 0px;
    color: white;
    height: 100px;
    width: 90%;
    margin: 20px auto;
    font-size: 2.0rem;
    border-radius: 10px;
}
#ghost img{
    float: left;
    width: 80px;
    border-radius: 50%;
}
#ghost ul{
    margin: 20px;
    list-style: none;
}
#ghost a{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px auto;
    padding: 20px;
    border: 3px solid black;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    width: 100%;
}
#ghost a:hover{
    transition: .4s;
    background-color: var(--first-color);
}
#ghost i{
    font-size: 2.0rem;
    padding-right: 10px;
}
#facebook{background-color: #3b5998;}
#instagram{background-color: #E1306C;}
#linkedin{background-color: #0e76a8;}
#email{background-color: #db4a39;}
/* Key frames */

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .95;
    }
}

/* Media screen */

@media screen and (max-width: 768px){
    html{
        font-size: 50%;
    }
}
@media screen and (max-width: 660px){
    #container_sobre{
        flex-direction: column;
    }
    #container_sobre img{
        width: 240px;
    }
    #container_portifolio{
        flex-direction: column;
    }
    .square img{
        width: 100%;
        height: 30vh;
    }
    .square h3{
        width: 100%;
    }
    .square{
        width: 80%;
        justify-items: center;
    }
}
@media screen and (max-width: 425px){
    #btns{
        flex-direction: column;
        gap: 10px;
    }
    #container_sobre img{
        width: 180px;
    }
    .btn a{
        width: 200px;
    }
}